<div class="uiLogin">
	<img class="logo" src="images/logo_0.png" alt="">
	<div class="right">
		<div class="label">username</div>
		<input type="text" class="el textbox txtUsername" placeholder="username">
		<div class="label">password</div>
		<input type="password" class="el textbox txtPassword" placeholder="password">
		<div class="top-buttons">
			<div class="el btn btnRegister">Create Account</div>
			<div class="el btn btnLogin">Sign In</div>
		</div>
		<div class="message"></div>
	</div>
			<div class="el btn btnWiki" location="http://wiki.isleward.com/Main_Page">Access the Wiki</div>
	<div class="version" location="https://gitlab.com/Isleward/isleward/tags/v0.3.2">v0.1.1</div>
</div>
